.container {
  margin: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;
    width: 25%;
    height: 25%;

  }

  .container2 {
    margin: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;
    width: 25%;
    height:25%;
  }